---
---

@import url('https://fonts.googleapis.com/css?family=DM+Sans:300,300i,500');


$background-color: rgb(229, 211, 215);;
$black: #0c0c0c;
$red: #ff3500;
$typography: DM Sans;
$title_color: rgb(101, 74, 78);

body {
    background-color: $background-color;
    color: $black;
    padding: 20px;
    font-family: $typography, sans-serif;
    text-align: left;
}

h1{
    font-size: 80px;
    font-weight: 500;
}

h2{
    font-size: 40px;
    font-weight: 500;
}

h3{
    font-size: 24px;
    font-weight: 500;
}

p{
    font-size: 25px;
    font-weight: 300;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    padding: 10px;


    nav{
        margin-right: 30px;

        a {
            margin-left: 1vw;
            font-size: 3vw;
            color: $black;
            text-decoration: none;
            font-weight: 300;
            //border-bottom: 3px solid $red;
            &:hover{
                text-decoration: line-through;
            }
        }
    }
}

footer{
    width: 100%;
    align-items: center;
    justify-content: space-between;

    p{
        float:left;
        font-size: 20px;
        font-weight: 300;
    }
    nav{
        float: right;

        a{
            font-size: 20px;
            margin-left: 10px;
            text-decoration: none;
            color: $black;
            &:hover{
                text-decoration: line-through;
            }
        }
    }
}

img.logo{
    max-width: 80px;
    transition: all 0.6s ease-in-out 0s;

    &:hover{
        cursor: default;
        transform: rotate(360deg);
        transition: all 0.6s ease-in-out 0s;
    }
}

img.rounded{
    border-radius: 50%;
}



.work_grid{
    h1{
        font-size: 50px;
        margin-top: -35px;
        margin-right: 10px;
        text-align: right;
        font-weight: 300;
    }

    img.thumb{
        max-width: 100%;
    }

    a{
        text-decoration: none;
        color: $black;
    }
}

.work_page{

    display: block;

    p{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    h1{
        font-size: 80px;
        font-weight: 500;
    }

    h2{
        font-size: 30px;
        font-weight: 300;
    }

    img{
        max-width: 100%;
    }

    video{
        max-width: 100%;
    }
}

.center {
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p.read-more {
    font-weight: 700;
}

div.blog-posts {
    max-width: 540px;

    a{
        text-decoration: none;
        color: $black;
        display: block;
        margin: 0 0 40px 0;
    }
}

section {
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
    
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
}



.crew {
    margin-top: 50px;
    margin-bottom: 50px;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 20px;
  }
  .crew > div {
    width:49%;
    margin-bottom:.5rem;
  }
  .crew > div:nth-child(odd) {
    font-weight: 500;
    text-align:right;
  }
  .crew > div:nth-child(even) {
    text-align:left;
  }