---
layout: default
title: About
permalink: /about/
---


<div class="container header_margin footer_padding link-svgmarker about-page">
    <h2>¡Hola!</h2>
    <div class="row align-items-start g-4 about-content-row">
        <div class="col-12 col-md-6">
            <p>
                I'm Laura Sirvent, director and character designer based in Spain.
                I'm always pulling influence from technology, Spanish pop culture, and XXI century consumerism, to
                create punchy 3D projects that contain interesting narratives, silly humor, and fun-loving characters.
            </p>
            <p>Know more about me <a href="https://www.thisisjelly.com/uk/news/introducing-laura-sirvent">here.</a></p>

            <p><a href="https://page-online.de/bild/portraet-der-woche-laura-sirvent/">PAGE</a></p>
        </div>
        <div class="col-12 col-md-6">
            <img class="about-profile-image" src="/assets/img/Laura-Sirvent.jpeg" alt="Laura Sirvent portrait">
        </div>
    </div>

    <p class="mt-5 text-end">Worldwide representation by <a href="https://www.thisisjelly.com"></a>Jelly</p>
    <p class="mt-5 text-end">For inquiries contact with <a href="mailto:hello@thisisjelly.com">hello@thisisjelly.com</a></p>

    <p class="mt-5 text-end">Reach me at <a href="mailto:hola@laurasirvent.com">hola@laurasirvent.com</a></p>

    <!-- <p class="mb-5 text-end">Represented in Europe by <a href="https://bolprod.com">BOL</a></p> -->

    {% assign about_stickers = site.data.stickers | where: "page", "about" %}
    {% for sticker in about_stickers %}
      {% include sticker-item.html sticker=sticker %}
    {% endfor %}
</div>
