---
layout: default
---
<div class="work_page container">
    
    <!-- <a class="d-flex my-3" href="/work">Back</a> -->

    {% if page.video And page.video != "" And page.video != nil %}
    <video controls>
        <source src="{{page.video}}" type="video/mp4">
    </video>
    {% endif %}

    <div class="d-flex justify-content-between">    
        <h1 class="text-start">{{ page.title }}</h1>
        <h2 class="text-end">{{ page.year }}</h2>
    </div>

    {% if page.studio And page.studio != "" And page.studio != nil %}
    <h2>{{ page.client }}, {{ page.studio }}</h2>
    {% else %}
    <h2>{{ page.client }}</h2>
    {% endif %}

    {{page}}

    <h2 class="text-center my-5">Thanks!</h2>
</div>